.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

body{
	background: #4B6987;
}


h1 {
	color: #8A2626;
	font-family:'Rock Salt', serif;
	margin: 0px 0px 0px 20px;
}

header {
	background-color: #A8A8B2;
	width: 99%;
	border-bottom: 10px dashed #A8D3F3;
	size: 1000px;
}


h2, h3, h4 {
	color: #8A2626;
	font-family: 'Bitter', serif;
	width: 200px;
	margin: 0px 0px 0px 90px;
	padding-top: 10px;
	font-position: center;
}



p {
	font-family: 'Oxygen', sans-serif;
	font-size: 18px;
	color: #4B6987;
	padding-left: 25px; 
}

h3 a {
	border: 5px dashed #4B6987;	
	margin-left: 15px;
	margin-top:40px;
} 

a:link {
	list-style:none;
	border-bottom: none;
	text-decoration: none;
	color: #8A181D;
}


a:active {
	background: none;
	color:#8A181D;
}

a:visited {
	color: #8A181D;
}

a:hover {
	color: #234A69;
	background:#A8A8B2;
}


ul li {
	list-style:none;
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	color: #4B6987;
}


#me { 
	padding: 20px 0px 20px 20px;
	
}

img {
		width: 550px;;
		border-bottom: 10px dashed #8A181D;
		border-right: 10px dashed #8A181D;
}


div.container {
	background:#A8D3F3;
}

#info {
padding: 10px 10px 10px 10px;
}

#special img {
	padding-left:63px;
	size: 500px;
}


footer {
	text-align: center;
	opacity: 50%; 
	background-color: #A8A8B2;
	color: #8A2626;
	border-top: 10px dashed #A8D3F3;
}

p footer {
	color: #8A2626;
}

.visit {
	padding-top: 10px;
}
.contact {
	margin-left: 40px;
}

#dashbox {
	border: 5px dashed #4B6987;	
	margin-left: 15px;
	margin-top:40px;
}
